/* 环图组件样式 */
.h5_component_ring{
}
.h5_component_ring .mask{
	position: absolute;
	left:0;
	top:0;  
	width:100%;
	height:100%;
	background-color: #fff;
	z-index:100;
	-webkit-transform:scale(.8);
	border-radius: 50%;

}
.h5_component_ring .text{
	width:100%;
	top:40%;
	opacity: 0;
}
.h5_component_ring .text .per{

}


